<h1>Editing initiative</h1>

<%= render "form", initiative: @initiative %>

<br>

<div>
  <%= link_to "Show this initiative", @initiative %> |
  <%= link_to "Back to initiatives", initiatives_path %>
</div>
