<div id="<%= dom_id owner %>">
  <p>
    <strong>Name:</strong>
    <%= owner.name %>
  </p>

  <p>
    <strong>Organization:</strong>
    <%= owner.organization_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= owner.user_id %>
  </p>

</div>
