<div class="row">
  <div class="col-4"></div>
  <div class="col-3">
    <div class="card">
      <div class="card-header">
        <h4 class="m-0 font-weight-bold text-primary">New owner</h4>
      </div>
      <div class="card-body">
        <%= render "form", owner: @owner %>
      </div>
    </div>
    <br>
    <div>
      <%= link_to "Back to owners", owners_path %>
    </div>
  </div>
  <div class="col-5"></div>
</div>
