<h1>Editing key result</h1>

<%= render "form", key_result: @key_result %>

<br>

<div>
  <%= link_to "Show this key result", @key_result %> |
  <%= link_to "Back to key results", key_results_path %>
</div>
